@import '~@trademe/tangram/tools/env';

.app-header {
  width: 100%;
  height: $unit * 2;
  background-color: $tip-top-300;
  color: white;
}

.header-container {
  display: inline-flex;
  align-items: center;

  h1 {
    color: white;
    margin: 0;
  }

  svg {
    fill: white;
    margin-top: 8px;
    margin-right: $unit / 2;
  }
}

.slide-container {
  display: flex;
  flex-flow:row;
  position:absolute;
  left: 0;
  width:100%;
  transition: 0.5s;
}
