<header
  class="app-header">
  <tg-row>
    <tg-col
      smOffset="3"
      sm="6">
      <svg aria-labelledby="#appnavtitle" role="img" width="48px" height="48px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <title id="appnavtitle">Tangram Alpha</title>
        <g>
          <path class="tgLogo1" d="M0,10 L8.666,10 L8.666,1.334 L0,10" id="Fill-1"></path>
          <path class="tgLogo2" d="M11,0 L17.128,6.128 L23.255,0 L11,0" id="Fill-2"></path>
          <path class="tgLogo3" d="M10,1 L10,14 L16,20 L16,7.128 L10,1" id="Fill-3"></path>
        </g>
      </svg>
    </tg-col>
  </tg-row>
</header>

<tgs-slides>
</tgs-slides>
