<!--Slides go in here-->

<tgs-slide>
  <slide-header>
    <h1>I'm the first slide</h1>
  </slide-header>

  <slide-body>
    <p>I'm the slide body</p>
  </slide-body>

  <slide-footer>
    <p>And I'm at the foot of the slide</p>
  </slide-footer>
</tgs-slide>


<tgs-slide>
  <slide-header>
    <h1>I'm the second slide</h1>
  </slide-header>

  <slide-body>
    <p>I'm the slide body</p>
  </slide-body>

  <slide-footer>
    <p>And I'm at the foot of the slide</p>
  </slide-footer>
</tgs-slide>

<tgs-slide>
  <slide-header>
    <h1>I'm the second slide</h1>
  </slide-header>

  <slide-body>
    <p>I'm the slide body</p>
  </slide-body>

  <slide-footer>
    <p>And I'm at the foot of the slide</p>
  </slide-footer>
</tgs-slide>


<tgs-slide>
  <slide-header>
    <h1>I'm the second slide</h1>
  </slide-header>

  <slide-body>
    <p>I'm the slide body</p>
  </slide-body>

  <slide-footer>
    <p>And I'm at the foot of the slide</p>
  </slide-footer>
</tgs-slide>
